@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --auth-screen-bg-color: #eff7fe;
  --auth-card-bg-color: white;
  --btn-primary: #1c9dea;
  --btn-primary-color: white;
}

:root[data-theme="dark"] {
}

/* const root = window.document.documentElement;
root.setAttribute('data-theme', 'dark'); */

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f8f9f9;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d7ebf7;
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #d7ebf7;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}


/* letter avatar css */
.A { background-color: #f35e90; color: white; }
.B { background-color: #33C3FF; color: white; }
.C { background-color: #FF33A8; color: white; }
.D { background-color: #33FF57; color: white; }
.E { background-color: #FF5733; color: white; }
.F { background-color: #5733FF; color: white; }
.G { background-color: #33FFF1; color: white; }
.H { background-color: #FF33C3; color: white; }
.I { background-color: #33FF94; color: white; }
.J { background-color: #FF9633; color: white; }
.K { background-color: #335BFF; color: white; }
.L { background-color: #FF33D1; color: white; }
.M { background-color: #33FF73; color: white; }
.N { background-color: #FF8333; color: white; }
.O { background-color: #33E6FF; color: white; }
.P { background-color: #FF33F0; color: white; }
.Q { background-color: #33FFBA; color: white; }
.R { background-color: #FFBD33; color: white; }
.S { background-color: #333FFF; color: white; }
.T { background-color: #FF33EE; color: white; }
.U { background-color: #33FFCC; color: white; }
.V { background-color: #FFDA33; color: white; }
.W { background-color: #335FFF; color: white; }
.X { background-color: #FF33FF; color: white; }
.Y { background-color: #33FF85; color: white; }
.Z { background-color: #FF7033; color: white; }
