@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --auth-screen-bg-color: #eff7fe;
  --auth-card-bg-color: white;
  --btn-primary: #1c9dea;
  --btn-primary-color: white;
}

:root[data-theme="dark"] {
}

/* const root = window.document.documentElement;
root.setAttribute('data-theme', 'dark'); */

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
